$primary-color: rgb(250, 83, 41);
$secondary-color: rgb(250, 83, 41);

body{
    font-family: Helvetica, sans-serif;
}

.header{
    height: 50px;
    background-color: rgb(54, 53, 53);
}

.hero{
    line-height: 1;
    color: #fff;
    background-color: $primary-color;
    padding-top: 2em;
    padding-bottom: 0.5em;
    .hero__heading{
        font-size: 3em;
        margin: 0;
    }
    .hero__heading--secondary{
        margin:0;
        margin-left:1.9em;
        font-family: Courier, monospace;
    }
}