$primary-font-family: Helvetica, sans-serif;
$secondary-font-family: Courier, monospace;

$black: #222;
$white: #eee;

$primary-color-darker: #9B3A00;
$primary-color-dark: #C64A00;
$primary-color: #FF5F00;
$primary-color-light: #FF8339;
$primary-color-lighter: #FF9E64;

$secondary-color-darker: #9B6000;
$secondary-color-dark: #C67A00;
$secondary-color: #FF9E00;
$secondary-color-light: #FFB339;
$secondary-color-lighter: #FFC464;

$tertiary-color-darker: #92001A;
$tertiary-color-dark: #B90021;
$tertiary-color: #EF002A;
$tertiary-color-light: #F03657;
$tertiary-color-lighter: #F35F79;


$primary-text-color: $black;

$large-padding: 2em;
$small-padding: 0.5em;
$standard-padding: $small-padding $small-padding $small-padding $small-padding;

@mixin linear-gradient($colour1, $colour2){
    background: $colour1;
    background: -moz-linear-gradient(150deg, $colour1, $colour2 50%);
    background: -webkit-gradient(150deg, $colour1, $colour2 50%);
    background: -webkit-linear-gradient(150deg, $colour1, $colour2 50%);
    background: -o-linear-gradient(150deg, $colour1, $colour2 50%);
    background: -ms-linear-gradient(150deg, $colour1, $colour2 50%);
    background: linear-gradient(150deg, $colour1, $colour2 50%);
}

@mixin my-gradient(){
    @include linear-gradient($tertiary-color, $primary-color);
}

html{
    height: 100%;
}

body{
    font-family: $primary-font-family;
    color: $primary-text-color;
}

.hero{
    line-height: 1;
    color: $white;
    background-color: $primary-color;
    @include my-gradient;
    padding: $standard-padding;
    padding-top: $large-padding;
    padding-bottom: $large-padding;
    
    .hero__heading{
        font-size: 2.5em;
        margin: 0;
    }
    .hero__heading--secondary{
        margin:0;
        margin-left:1em;
        font-family: $secondary-font-family;
    }
}

.profile-image{
    display: block;
    width: 33%;
    margin: -20px auto 0 auto;
    padding: 2px;
    border: 1px solid $white;
}

.mission-quote{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.contact-me{ 
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: $standard-padding;
    background-color: #111;
    color: $white;
    .contact-me__contact-list{
        list-style: none;
        float: left;
        a{
            color: $primary-color;
        }
    }
    p{
        margin:0;
        font-size: 0.9em;
    }
    .contact-me__social-link{
        color: $white;
        font-size: 2em;
        float: left;
        margin: 0.5em;
        margin-left: 1em;
    }
    clear: both;
}

.section {
    padding: $standard-padding; 
    clear: both;
    
    .section__icon-group{
        display: block;
        font-size: 2em;
        margin: 0 auto;     
        color: $primary-color;   
        text-align: center;
        i{
          margin-left:5px;  
          margin-right:5px;  
        } 
    }
    .section__heading{
        line-height: 1;
        font-size: 2em;
        text-align: center;
    }
    .card{
        margin-left: -$small-padding;
        margin-right: -$small-padding;
        padding: $small-padding;
        .card__heading{
            margin:0;
            span{
                font-size: 0.8em;
                font-weight: normal;
            }
        }
        .card__list{
            padding-left: $large-padding;
        }
    }
    .section__company-logo{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        width: 22%;
        padding: 5%;
    }
    &.section--primary{
        background-color: $primary-color;  
        color: $white;
        .section__icon-group{
            color: $white;
        }
    }
    &.section--secondary{
        background-color: $secondary-color;  
        color: $white;
        .section__icon-group{
            color: $white;
        }
    }
    &.section--tertiary{
        background-color: $tertiary-color;  
        color: $white;
        .section__icon-group{
            color: $white;
        }
    }
}

