/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480) {
    .profile-image{
        width: auto;
        float: right;
        margin: -20px 20px 20px 20px;
    }
    .section{
        .card{
            display: inline-block;
            vertical-align: top;
            width: 47%;
            padding: 2%;
        }

        .section__company-logo{
            width: 19%;
            padding: 2%;
            &.section__company-logo--wide{
                width: 22%
            }
        }
    }
}

@media only screen and (min-width: 768) {
    .section {
        .card {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }
        .section__company-logo {
            width: 14%
        }
    }
}

@media only screen and (min-width: 960) {
    // .section{
    //     padding-left: 10em;
    //     padding-right: 10em;
    // }
}

@media only screen and (min-width: 1024) {
}

@media only screen 
and (max-width: 812px) 
and (orientation: landscape) { 
    .profile-image{
        width: auto;
        float: right;
        margin: -50px 20px 20px 20px;
    }

    .mission-quote{
        margin-top: 1em;        
    }

    .contact-me{
        p{
            float: left;
        }
        .contact-me__contact-list{
            margin-top: 0px;
            margin-bottom: 0px;
        }
        .contact-me__social-link{
            margin: 0;
            margin-left: 1em;
        }
    }

    .section{
        .section__company-logo{
            width: 14%;
        }
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
